[Unit]
Description=REPLACE
After=network.target

[Service]
Type=simple
User=root
Group=root
UMask=007
ExecStart=REPLACE
ExecStop=REPLACE
Environment="DISPLAY=:0"
RemainAfterExit=yes
Restart=always
RestartSec=3
TimeoutStopSec=300
StandardError=REPLACE

[Install]
WantedBy=multi-user.target
