[Unit]
Description={{ webhook_relay_description }}
After=network.target

[Service]
ExecStart={{ webhook_relay_script_path }}
Restart=always
User={{ webhook_relay_user }}
{% if webhook_relay_env %}
{% for key, value in webhook_relay_env.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target
