- name: Assurer que les répertoires existent
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'  # Définir les permissions des répertoires
  loop: "{{ directories }}"

- name: Create log file
  become: yes
  file:
    path: "{{ project_ros_dir }}/log/{{ project_name }}.log"
    state: touch