- name: Installer pip pour {{ python_version }}
  become: yes
  ansible.builtin.shell: "curl https://bootstrap.pypa.io/get-pip.py | {{ python_version }}"

- name: Upgrade pip
  ansible.builtin.pip:
    name: pip
    state: latest
    virtualenv: "{{ python_venv_path | default(omit) }}"
    executable: "{{ (((python_venv_path | default('')) | length) > 0) | ternary(omit, python_pip_executable) }}"

- name: Install requirements
  ansible.builtin.pip:
    requirements: "{{ python_requirements_path }}"
    virtualenv: "{{ python_venv_path | default(omit) }}"
    executable: "{{ (((python_venv_path | default('')) | length) > 0) | ternary(omit, python_pip_executable) }}"


#- name: Update project librairy in "{{ remote_home.stdout }}/{{ deploy_dir }}/venv"
#  pip:
#    requirements: "{{ remote_home.stdout }}/{{ ros2_ws }}/src/{{ project_ros_dir }}/{{ conf_dir }}/requirements.txt"
#    virtualenv: "{{ remote_home.stdout }}/{{ ros2_ws }}/venv"
