---
- name: Install Jenkins on pios lite
  hosts: "{{ target_group | default('robot') }}"

  vars_files:
    - vars/main.yml

  roles:
    - role: docker-install
    - role: jenkins
    - role: sonar
    - role: set-bashrc
      vars:
        set_bashrc_project_file: "{{ local_projects_dir }}/{{ local_project_dir }}/conf/rpi/project_bash"
