---
- name: Install Jenkins on pios lite
  hosts: "{{ target_group | default('robot') }}"

  vars_files:
    - vars/main.yml

  roles:
    - role: docker-install
    - role: jenkins
      vars:
        jenkins_pipeline_poll_schedule: "H/5 * * * *"
        jenkins_sonar_job_enabled: true
        jenkins_sonar_poll_schedule: "H/30 * * * *"
    #- role: sonar
    - role: set-bashrc
      vars:
        set_bashrc_project_file: "{{ local_projects_dir }}/{{ local_project_dir }}/conf/rpi/project_bash"
    - role: docker-prune
