---
- name: "\e[1;31m install {{ target_group }} on pios lite \e[0m"
  hosts: "{{ target_group | default('robot') }}"

#  become: yes

  vars_files:
  - vars/main.yml

  roles:
      #- role: info
      - role: dir_struct
        vars:
        - directories:
            - "{{ ros2_ws }}/build"
            - "{{ ros2_ws }}/install"
            - "{{ ros2_ws }}/log"
            - "{{ ros2_ws }}/src/{{ project_ros_dir }}"
            - "scripts"
      - role: synchronise
        become: yes
      - role: packages
        vars:
        - package_file: "packages.txt"
      #- role: blinka
      - role: download-install-deb-from-url
        vars:
          - debian_packages_urls:
              - "https://download.docker.com/linux/debian/dists/bookworm/pool/stable/arm64/containerd.io_1.7.27-1_arm64.deb"
              - "https://download.docker.com/linux/debian/dists/bookworm/pool/stable/arm64/docker-compose-plugin_2.39.1-1~debian.12~bookworm_arm64.deb"
              - "https://download.docker.com/linux/debian/dists/bookworm/pool/stable/arm64/docker-ce-cli_28.3.3-1~debian.12~bookworm_arm64.deb"
              - "https://download.docker.com/linux/debian/dists/bookworm/pool/stable/arm64/docker-ce_28.3.3-1~debian.12~bookworm_arm64.deb"
              - "https://download.docker.com/linux/debian/dists/bookworm/pool/stable/arm64/docker-buildx-plugin_0.26.1-1~debian.12~bookworm_arm64.deb"
              - "https://download.docker.com/linux/debian/dists/bookworm/pool/stable/arm64/docker-model-plugin_0.1.36-1~debian.12~bookworm_arm64.deb"
      #- role: docker-arm64
      - role: logging
      - role: usb-audio
      - role: set-bashrc
      - role: start-scripts
      - role: activate-i2c
      - role: services