---
- name: install {{ target_group | default('robot') }} test
  hosts: "{{ target_group | default('robot') }}"
  # Enable become if privileged actions are required

  vars_files:
    - vars/main.yml

  roles:
    - role: dir_struct
      vars:
        directories:
          - "{{ project_ros_dir }}"
          - "{{ project_ros_dir }}/log"
    - role: activate-i2c
    - role: blinka

  tasks:
  - name: Create the log file if needed
    ansible.builtin.file:
      path: "test/logs/{{ target_group }}-test.log"
      state: touch

  - name: Synchronize the test directory
    ansible.builtin.synchronize:
      src: "{{ local_projects_dir }}/{{ local_project_dir }}/"
      dest: "test/"
      recursive: yes
      copy_links: yes
      rsync_opts:
        - "--verbose"
        - "--exclude=.*"
        #- "--exclude=.git/"
        - "--exclude=.~tmp~/"
        - "--exclude=*tar.gz"
        #- "--exclude=.idea/"
        - "--exclude=__pycache__/"
        - "--exclude=venv/"
        #- "--delete"
        #- "--exclude=.editorconfig"
        #- "--exclude=.gitignore"
        #- "--exclude=robot_bringup/"
        #- "--exclude=robot_interfaces/"
