<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.sonar.SonarPublisher_-DescriptorImpl plugin="sonar">
  <installations>
    <hudson.plugins.sonar.SonarInstallation>
      <name>{{ jenkins_sonar_server_name }}</name>
      <serverUrl>{{ jenkins_sonar_server_url }}</serverUrl>
      <serverVersion>{{ jenkins_sonar_server_version }}</serverVersion>
      <serverAuthenticationToken>{{ jenkins_sonar_server_token_value }}</serverAuthenticationToken>
      <mojoVersion>{{ jenkins_sonar_server_mojo_version }}</mojoVersion>
      <additionalProperties>{{ jenkins_sonar_server_additional_properties }}</additionalProperties>
      <sonarProperties>{{ jenkins_sonar_server_properties }}</sonarProperties>
      <triggers>
        <skip>false</skip>
        <environment>false</environment>
        <branch></branch>
      </triggers>
    </hudson.plugins.sonar.SonarInstallation>
  </installations>
</hudson.plugins.sonar.SonarPublisher_-DescriptorImpl>
